*.orig
*.vcxproj.user

**/Debug/

**/Release/

code/.vs/
.vs/

code/Resources/CommandsDef.h
code/Resources/LineBreak.bin
code/Resources/MenusDef.h
code/Resources/Strings.rh
code/main/wix-config.wxi
code/main/parent.h

install/*.exe
install/*.msi
install/*.wixobj
